<!--
 * about.html
 * html code for the about page of the gallery
 * Editor: Weixuan Yang
 * Date: October 04, 2022
-->

{% extends "layout.html" %}
{% block title %}About{% endblock title %}
{% block about %}active{% endblock about %}
{% block bg %}style="background-image: url({{url_for('static', filename='img/index.jpg')}}); background-size: cover;"{% endblock bg %}
{% block content %}
<h1 class="cover-heading">Made With ♥</h1>
<br>
<p class="lead"><a href="https://www.linkedin.com/in/weixuanyang/">Weixuan Yang</a> - <a href="mailto:weixuan.yang@mail.utoronto.ca">weixuan.yang@mail.utoronto.ca</a></p>
<p class="lead"><a href="#">Haotian Chen</a> - <a href="mailto:haotian.chen@mail.utoronto.ca">haotian.chen@mail.utoronto.ca</a></p>
<p class="lead"><a href="#">Haozhe Sun</a> - <a href="mailto:sunhaozhe.sun@mail.utoronto.ca">sunhaozhe.sun@mail.utoronto.ca</a></p>
{% endblock content %}