<!--
 * retrieve.html
 * html code for the result page of the gallery retrieving
 * Editor: Weixuan Yang
 * Date: October 04, 2022
-->

{% extends "layout.html" %}
{% block title %}Retrieve{% endblock title %}
{% block content %}
<h1>We find your image :)</h1>
<br>
<center><img src="{{image}}" style="max-width: 800px; max-height: 600px; width: auto; height: auto></center>
<p class="lead">{{key}}</p>
<br>
<a href="{{url_for('get_home')}} " class="btn btn-default ">Return</a>
{% endblock content %}
