<!--
 * upload.html
 * html code for the upload page of the gallery
 * Editor: Weixuan Yang
 * Date: October 04, 2022
-->

{% extends "layout.html" %}
{% block title %}Upload{% endblock title %}
{% block upload %}active{% endblock upload %}
{% block content %}
<form method="post" enctype="multipart/form-data" action="/putImage">
    <p class="lead">Please select the image you want to upload from your storage,<br>and choose your own key for this image.</p>
    <p>(Only support .jpg, .jpeg, .tiff, .gif, .tif, .bmp, .webp, and .png image files.)</p>
    <p><input class="form-control-inverse" type="file" id="formFile" name="image" accept="image/*" required></p>
    <p><input type="text" name="key" placeholder="Custom Image Key" size="89" style="color:black" maxlength="100" required></p>
    <br>
    <p><button type="submit" class="btn btn-default">Upload</button>
    </p>
</form>
{% endblock content %}