<!--
 * about.html
 * html code for the about page of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}bg2{% endblock bg %}
{% block about %}active{% endblock about %}
{% block content %}
<h1 class="cover-heading">Made With ♥</h1>
<br>
<p class="lead">
    <table class="tg">
        <tbody>
            <tr>
                <td class="lead tg-0lax"><b>Weixuan Yang</b></td>
                <td class="lead tg-0lax">- Website Design</td>
                <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="mailto:weixuan.yang@mail.utoronto.ca" class="text-white">Mail</a></td>
                <td class="lead tg-0lax">&nbsp&nbsp<a href="https://github.com/wxlomo" class="text-white">Github</a></td>
            </tr>
            <tr>
                <td class="lead tg-0lax"><b>Haotian Chen</b></td>
                <td class="lead tg-0lax">- Cloud Deployment</td>
                <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="mailto:haotian.chen@mail.utoronto.ca" class="text-white">Mail</a></td>
                <td class="lead tg-0lax">&nbsp&nbsp<a href="https://github.com/haot1anchen" class="text-white">Github</a></td>
            </tr>
            <tr>
                <td class="lead tg-0lax"><b>Haozhe Sun</b></td>
                <td class="lead tg-0lax">- NoSQL Design</td>
                <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="mailto:sunhaozhe.sun@mail.utoronto.ca" class="text-white">Mail</a></td>
                <td class="lead tg-0lax">&nbsp&nbsp<a href="https://github.com/HaozheSun" class="text-white">Github</a></td>
            </tr>
        </tbody>
    </table>
    <br> Template is based on <a href="https://getbootstrap.com/docs/4.0/examples/cover/" class="text-white">Cover</a> by Mark Otto.
    <br> Background paint is <a href="https://artuk.org/discover/artworks/othello-relating-his-adventures-20260" class="text-white">"Othello Relating His Adventures"</a> by John Emery.
</p>
{% endblock content %}