<!--
 * about.html
 * html code for the about page of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Weixuan Yang">
    <link href="src/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/css/base.css" rel="stylesheet">
    <link rel="shortcut icon" href="src/img/icon.ico">
    <link href='src/css/quicksand.css' rel='stylesheet'>
    <title>Othello</title>
</head>

<body class="d-flex h-100 text-center text-bg-dark" style="background-size:100% 100%; background-image: url(src/img/bg.jpg);">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Othello</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="index.html">Play</a>
                    <a class="nav-link fw-bold py-1 px-0" href="rule.html">Rule</a>
                    <a class="nav-link fw-bold py-1 px-0" href="rank.html">Rank</a>
                    <a class="nav-link fw-bold py-1 px-0 active" href="about.html">About</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1 class="cover-heading">Made With ♥</h1>
            <br>
            <p class="lead">
                <table class="tg">
                    <tbody>
                        <tr>
                            <td class="lead tg-0lax"><b>Weixuan Yang</b></td>
                            <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="mailto:weixuan.yang@mail.utoronto.ca" class="text-white">Mail</a></td>
                            <td class="lead tg-0lax">&nbsp&nbsp<a href="https://github.com/wxlomo" class="text-white">Github</a></td>
                        </tr>
                        <tr>
                            <td class="lead tg-0lax"><b>Haotian Chen</b></td>
                            <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="mailto:haotian.chen@mail.utoronto.ca" class="text-white">Mail</a></td>
                            <td class="lead tg-0lax">&nbsp&nbsp<a href="https://github.com/haot1anchen" class="text-white">Github</a></td>
                        </tr>
                        <tr>
                            <td class="lead tg-0lax"><b>Haozhe Sun</b></td>
                            <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="mailto:sunhaozhe.sun@mail.utoronto.ca" class="text-white">Mail</a></td>
                            <td class="lead tg-0lax">&nbsp&nbsp<a href="https://github.com/HaozheSun" class="text-white">Github</a></td>
                        </tr>
                    </tbody>
                </table>
                <br> Template is based on <a href="https://getbootstrap.com/docs/4.0/examples/cover/" class="text-white">Cover</a> by Mark Otto.
                <br> Background paint is <a href="https://artuk.org/discover/artworks/othello-relating-his-adventures-20260" class="text-white">"Othello Relating His Adventures"</a> by John Emery.
            </p>
        </main>

        <footer class="mt-auto text-white-50 ">
            <p>Copyright © 2022 <a href="https://www.linkedin.com/in/weixuanyang/ " class="text-white ">@Weixuan Yang</a></p>
        </footer>
    </div>
</body>

</html>