<!--
 * create.html
 * html code to create a game of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}url({{url_for('static', filename='img/bg2.jpg')}}){% endblock bg %}
{% block content %}
<h1 class="cover-heading">New Game</h1>
<br>
<form action="/create_game" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <table class="tg">
            <tbody>
                <tr>
                    <td class="lead tg-0lax"><b>Player Name:</b></td>
                    <td class="lead tg-0lax">&nbsp&nbsp<input type="text" id="player_name" style="width: 200px; color:black" maxlength="10" name="player_name" required></td>
                </tr>
                <tr>
                    <td class="lead tg-0lax"><b>Disk Side:</b></td>
                    <td class="lead tg-0lax">&nbsp
                        <select id="player_side" name="player_side" style="width: 200px; color:black">
                                        <option value="x">Dark</option>
                                        <option value="o">Light</option>
                        </select></p>
                    </td>
                </tr>
<!--
                <tr>
                    <td class="lead tg-0lax"><b>Send Invite:</b></td>
                    <td class="lead tg-0lax">&nbsp&nbsp<input type="email" id="invite_email" style="width: 200px; color:black" maxlength="10" name="invite_email"></td>
                </tr>
-->
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="width: 200px;">Create</button>
</form>
{% endblock content %}