<!--
 * game.html
 * html code for the game board of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}url({{url_for('static', filename='img/bg2.jpg')}}){% endblock bg %}
{% block content %}
<script lang="text/javascript">
    var gameRaw = '{{gameJson|safe}}';
    var game = JSON.parse(gameRaw);
    var gameString = JSON.stringify(game);
    var gameId = '{{gameId}}';
    var loadDate = new Date();
    var interval;
    if (game.status != "FINISHED") {
      interval = window.setInterval(checkChanged, 1000);
    }
    var xmlHttp;
    
    function checkChanged() {
      window.clearInterval(interval);
      xmlHttp = new XMLHttpRequest();  
      xmlHttp.onreadystatechange = isChanged;
      xmlHttp.open('GET', '/data/' + gameId, true);
      xmlHttp.send(null);
    }
    
    function isChanged() {
      if (xmlHttp.readyState === 4) {
        if (xmlHttp.status === 200) {
          var latest = JSON.stringify(JSON.parse(xmlHttp.responseText));
          var loaded = gameString;
          if (latest != loaded) {
            location.reload();
          }
        }
        var currentDate = new Date();
        var elapsedMs = currentDate.getTime() - loadDate.getTime();
        if (elapsedMs < (5 * 60 * 1000)) {
            interval = window.setInterval(checkChanged, 1000);
        } else {
            console.log('Stopping refresh after ' + elapsedMs + ' ms');
        }
      }
    }
    
</script>
<form action="/play" method="post" enctype="multipart/form-data">
    <div class="board-container">
        {% for row in board %}
        <div>{{row|safe}}</div>
        {% endfor %}
    </div>
</form>
<p class="lead">
    <form action="{{surr}}" method="post" enctype="multipart/form-data">
        <table class="tg">
            <tbody>
                <tr>
                    <td class="lead tg-0lax">
                        <h3>{{message}}</h3>
                    </td>
                    <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="width: 200px;">Surrender</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</p>
{% endblock content %}