<!--
 * game.html
 * html code for the game board of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}bg2{% endblock bg %}
{% block content %}
<form action="/play" method="post" enctype="multipart/form-data">
    <div class="board-container">
        {% for row in board %}
        <div>{{row[0]}}</div>
        {% endfor %}
    </div>
</form>
<p class="lead">
    <form action="{{surr}}" method="post" enctype="multipart/form-data">
        <table class="tg">
            <tbody>
                <tr>
                    <td class="lead tg-0lax">
                        <h3>{{message}}</h3>
                    </td>
                    <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="width: 200px;">Surrender</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</p>
{% endblock content %}