<!--
 * index.html
 * html code for the landing page of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}bg{% endblock bg %}
{% block play %}active{% endblock play %}
{% block content %}
<p class="lead">Othello, aka Reversi, is a strategy board game for two players. Its name was selected from the Shakespearean play "Othello, the Moor of Venice".
</p>
<br>
<p class="lead">
    <a href="create.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="width: 200px;">New Game</a>
    <a href="join.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="width: 200px;">Join Game</a>
</p>
{% endblock content %}