<!--
 * join.html
 * html code to join the existing game of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}url({{url_for('static', filename='img/bg2.jpg')}}){% endblock bg %}
{% block content %}
<h1 class="cover-heading">Join Game</h1>
<br>
<form action="{{url_for('join_game')}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <table class="tg">
            <tbody>
                <tr>
                    <td class="lead tg-0lax"><b>Player Name:</b></td>
                    <td class="lead tg-0lax">&nbsp&nbsp<input type="text" id="player_name" style="width: 200px; color:black" maxlength="10" name="player_name" required></td>
                </tr>
                <tr>
                    <td class="lead tg-0lax"><b>Host Name:</b></td>
                    <td class="lead tg-0lax">&nbsp
                        <input list="pending" name="host_name" style="width: 200px; color:black"/>
                            <datalist id="pending">
                                {% for row in pending %}
                                <option value="{{row}}">
                                {% endfor %}
                            </datalist></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="width: 200px;">Join</button>
</form>
{% endblock content %}