<!--
 * rank.html
 * html code for the leaderboard of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}bg2{% endblock bg %}
{% block rank %}active{% endblock rank %}
{% block content %}
<h1 class="cover-heading">A Minute to Learn...<br> A Lifetime to Master.</h1>
<br>
<p class="lead">
    <table class="tg table-dark">
        <thead>
            <th class="lead tg-0lax" scope="col"><b>Player Name</b></th>
            <th class="lead tg-0lax" scope="col"><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspScore</b></th>
        </thead>
        {% for row in rank %}
        <tr>
            <td class="lead tg-0lax">{{row[0]}}</td>
            <td class="lead tg-0lax">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{row[1]}}</td>
        </tr>
        {% endfor %}
    </table>
</p>
{% endblock content %}