<!--
 * rule.html
 * html code to show the rule of the othello game
 * Editor: Weixuan Yang
 * Date: December 10, 2022
-->
{% extends "layout.html" %}
{% block bg %}url({{url_for('static', filename='img/bg2.jpg')}}){% endblock bg %}
{% block rule %}active{% endblock rule %}
{% block content %}
<p class="lead" style="text-align: left;">
    There are 64 identical game pieces called disks, which are light on one side and dark on the other. Each of the sides corresponds to one player.
    <br><br>The game begins with four disks placed in a square in the middle of the grid, the two dark-side-up disks are to the northeast and southwest, and the two light-side-up disks are to the northwest and southeast. <br><br> The dark player always
    moves first, and the players take alternate turns. The disk must be placed on the board so that there exists at least one straight (horizontal, vertical, or diagonal) occupied line between the new disk and another same-color disk, and opposite colour
    disk in between. Then, all the disks on the line that have the opposite color will be turned over to this color.
    <br><br> If one player cannot make a valid move, play passes back to the other player. The game ends when neither player can move. The player with the most pieces of disks on the board at the end wins.
</p>
<br>
<p class="lead" style="text-align: left; font-size: 10pt;">
    Reference: Wikipedia. 2022. Reversi. Retrieved from <a href="https://en.wikipedia.org/wiki/Reversi" class="text-white">https://en.wikipedia.org/wiki/Reversi</a>
</p>
{% endblock content %}