<!--
 * config.html
 * html code for the configuration page of the manager app
 * Editor: Weixuan Yang, Haotian Chen
 * Date: November 08, 2022
-->

{% extends "layout.html" %}
{% block title %}Configuration{% endblock title %}
{% block config %}active{% endblock config %}
{% block content %}
<h1>Configuration</h1>
<br>
<form method="post" enctype="multipart/form-data" action="/putConfig">
    
    <p class="lead"><label for="policy">Current memcache policy is {{poli}}. Set to :</label>
    <select id="policy" name="policy" style="width: 120px; color:black" >
        <option value="lru">LRU</option>
        <option value="random">RANDOM</option>
    </select></p>
    <p class="lead"><label for="capacity">Current cache capacity is {{capa}} MB. Set to: </label>
    <input type="number" id="capacity" style="width: 120px; color:black" name="capacity" value="{{capa}}" required> MB</p>
    <p class="lead"><button type="submit" class="btn btn-default">Apply</button>
</form>



<p class="lead"><label for="Manual">Current memcache pool size is {{pool}}.</label>
    <p class="lead">
        <button class="btn btn-default" onclick='/setManual'>Grow (+1)</button>
        <button class="btn btn-default" onclick='/setManual'>Shrink (-1)</button>
    </p>


<form method="post" enctype="multipart/form-data" action="/setAuto">
    <p class="lead"><label>Automatic Mode Settings</label>
    <p class="lead"><label>Set Max Miss Rate threshold to: </label>
    <input type="number" id="maxrate" style="width: 120px; color:black" name="capacity" value="{{maxrate}}" required>% </p>
    <p class="lead"><label>Set Min Miss Rate threshold to: </label>
    <input type="number" id="minrate" style="width: 120px; color:black" name="capacity" value="{{minrate}}" required>% </p>
    <p class="lead"><label>Set Expand Ratio to: </label>
    <input type="number" id="expand" style="width: 120px; color:black" name="capacity" value="{{expand}}" required> </p>
    <p class="lead"><label>Set Shrink Ratio to: </label>
    <input type="number" id="shrink" style="width: 120px; color:black" name="capacity" value="{{shrink}}" required> </p> 
    <p class="lead"><button type="submit" class="btn btn-default">Apply</button>
</form>
{% endblock content %}