<!--
 * index.html
 * html code for the home page of the manager app
 * Editor: Weixuan Yang, Haotian Chen
 * Date: November 08, 2022
-->

{% extends "layout.html" %}
{% block title %}Gallery Manager App{% endblock title %}
{% block home %}active{% endblock home %}
{% block bg %}style="background-image: url({{url_for('static', filename='img/index.jpg')}}); background-size: cover;"{% endblock bg %}
{% block content %}
<h1 class="cover-heading">Gallery Manager App</h1>
<br>
<div class = "table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Instances</th>
            <th scope="col">Miss Rate(%)</th>
            <th scope="col">Hit Rate(%)</th>
            <th scope="col">Num of Item</th>
            <th scope="col">Total Size(MB)</th>
            <th scope="col">Requests/Min</th>
          </tr>
        </thead>
        {% for row in cursor %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock content %}