<!--
 * index.html
 * html code for the home page of the manager app
 * Editor: Weixuan Yang, Haotian Chen
 * Date: November 08, 2022
-->

{% extends "layout.html" %}
{% block title %}Gallery Manager App{% endblock title %}
{% block home %}active{% endblock home %}
{% block bg %}style="background-image: url({{url_for('static', filename='img/index.jpg')}}); background-size: cover;"{% endblock bg %}
{% block content %}
<h1 class="cover-heading">Gallery Manager App</h1>
<br>
<div class = "table-responsive">
    
    <img src="{{src}}">
    <img src="{{src}}">
    <img src="{{src}}">
    <img src="{{src}}">
    <img src="{{src}}">
    <img src="{{src}}">
</div>

{% endblock content %}