<!--
 * statistics.html
 * html code for the memcache statistics page of the gallery
 * Editor: Weixuan Yang
 * Date: October 04, 2022
-->

{% extends "layout.html" %}
{% block title %}Statistics{% endblock title %}
{% block stats %}active{% endblock stats %}
{% block content %}
<h1>Statistics Over the Past 10 Minutes</h1>
<br>
<table class="table table-dark">
    <thead>
        <th scope="col">Number of Items</th>
        <th scope="col">Total Size</th>
        <th scope="col">Requests Served</th>
        <th scope="col">Miss Rate</th>
        <th scope="col">Hit Rate</th>
    </thead>
    {% for row in cursor %}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}